:root {
  --main-ligth-color: #fff;
  --main-font-color: #757575;
  --secondory-font-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #000000;
  --border-br-color: #2f303a;
  --section-team-bg-color: #f5f4fa;
}

body {
  font-family: 'roboto', 'sans-serif';
  /*background-color: var(--main-font-color);*/
  color: var(--secondory-font-color);
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}

/* Сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
/* Скрытые элементы */
.list {
  list-style: none; /* удаление точек ссылок */
}
.link {
  text-decoration: none;
}
.visually-hidden {
  display: none;
}

/*----------Шапка----------*/
.nav-header {
  background: var(--main-ligth-color);
}
.header-box {
  display: flex;
  align-items: center;
  margin-top: 0;
}
/*Логотип*/
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(26 / 31);
}
.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--secondory-font-color);
}
.logo-studio-footer {
  color: var(--main-ligth-color);
}
/* Навигация по сайту в шапке + контакты*/
.nav-page:hover,
.nav-page:focus {
  color: var(--accent-color);
}
.nav-page {
  color: var(--secondory-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  color: var(--accent-color);
}
.contacts-mail-tel:hover,
.contacts-mail-tell:focus {
  color: var(--accent-color);
}
.contacts-mail-tel {
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Секция Hero */
.hero-header {
  background-color: var(--border-br-color);
}
.hero-header-title {
  color: var(--main-ligth-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  border: none;
  background: var(--accent-color);
}
.hero-btn-text {
  font-family: 'roboto';
  color: var(--main-ligth-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/*Секция Наші особливості */
.advantage-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase; /*1*/
}
.advantage-par {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.hero-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0, 03em;
  color: var(--main-font-color); /* Серый вторичный текст на сайте */
}

/* Секция Чим ми займаємося */

.team-doing,
.our-team-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Секция Наша команда */

.our-team-col {
  background: #f5f4fa;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-font-color);
}
/* ----------Footer------------ */
.footer {
  background-color: var(--border-br-color);
}
.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-tel {
  color: var(--main-ligth-color);
}
.footer-mail,
.footer-address {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address,
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
/* Портфолио кнопки */
.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-ligth-color);
  background-color: var(--accent-color);
}
.filter-btn {
  font-family: roboto;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
/* Галерея Портфолио */
.gallery-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
